<!doctype html>
<html class="no-js" lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title><%= title %></title>
        <link rel="icon" href="http://luisnavarro.info/favicon.ico">
        <link rel="apple-touch-icon" href="http://luisnavarro.info/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <meta name="keywords" content="Luis Navarro, CV Personal, programación, freelance, backend, frontend" />
        <meta name="description" content="CV Personal de Luis Navarro, soy programador Full Stack en Javascript, Administrador de Servidores (GNU/Linux, Windows) y Administrador de Redes" />
        <meta name="author" content="Luis Navarro" />
    
        <!-- Metas SEO -->
        <meta name="robots" content="index, follow" />
        <meta property="og:site_name" content="Luis Navarro">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://www.luisnavarro.info/"/>
        <meta property="og:title" content="CV Personal">
        <meta property="og:description" content="CV Personal de Luis Navarro, soy programador Full Stack en Javascript, Administrador de Servidores (GNU/Linux, Windows) y Administrador de Redes">
        <meta property="og:image" content="http://luisnavarro.info/img/me100x140.png">

        <!-- SEO Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="CV Personal de Luis Navarro">
        <meta name="twitter:url" content="http://www.luisnavarro.info/"/>
        <meta name="twitter:description" content="CV Personal de Luis Navarro, soy programador Full Stack en Javascript, Administrador de Servidores (GNU/Linux, Windows) y Administrador de Redes">
        <meta name="twitter:image" content="http://luisnavarro.info/img/me100x140.png">

        <!-- SEO Google -->
        <!-- Schema.org markup for Google+ --> 
        <meta itemprop="name" content="Luis Navarro">
        <meta itemprop="title" content="CV Personal - Luis Navarro">
        <meta itemprop="thumbnailUrl" content="http://luisnavarro.info/img/me100x140.png">
        <meta itemprop="description" content="CV Personal de Luis Navarro, soy programador Full Stack en Javascript, Administrador de Servidores (GNU/Linux, Windows) y Administrador de Redes">
        <meta itemprop="image" content="http://luisnavarro.info/img/me100x140.png">

        <!--Import css-->
        <link rel="stylesheet" href="/css/main.css">
        
    </head>
    <body>

        <header>
            <!--Side Menu-->
            <div id="slide-out" class="side-nav fixed">
                <div class="bg-color material-box center-align">
                    <div class="photo"><img class="responsive-img circle" src="/img/me.png" alt=""></div>
                    <h4>Luis Navarro</h4>
                    <h6>Desarrollador Full Stack</h6>
                    <!--Side Menu Link-->
                    <div class="social-media">
                        <a href="https://www.facebook.com/lu1tr0n" target="_blank" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/lu1tr0n" target="_blank" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                        <!-- Enlace de Linkedin - Perfil: https://www.linkedin.com/in/luis-navarro-alvarez -->
                        <a href="https://www.linkedin.com/in/luis-navarro-alvarez" target="_blank" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        <a href="https://elsolitario.org" target="_blank" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Blog"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/u/5/106230469528983700668" target="_blank" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Google Plus"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                    </div>
                    <!--Side Menu Link End-->
                </div>
                <!--Menu-->
                <ul class="center-align menu">
                    <li><a href="#about" class="waves-effect waves-color">A Cerca de</a></li>
                    <li><a href="#work-skills" class="waves-effect waves-color">Habilidades de trabajo</a></li>
                    <li><a href="#work-expreince" class="waves-effect waves-color">Experiencia laboral</a></li>
                    <li><a href="#education" class="waves-effect waves-color">Educación</a></li>
                    <!-- <li><a href="#portfolio" class="waves-effect waves-color">Portfolio</a></li> -->
                    <li><a href="#contact" class="waves-effect waves-color">Contacto</a></li>
                </ul>
                <!--Menu End-->
            </div>
            <!--Side Menu End-->
            <!--Mobile Menu Button-->
            <div class="fixed-action-btn">
                <a href="#" data-activates="slide-out" class="button-collapse btn-floating btn-large bg-color">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
            </div>
            <!-- End fixed -->
        </header>

        <section>
        <!--About Content-->
            <article>
                  <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-3">
                            <div class="card-panel about" id="about">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 about-image">
                                        <!--Photo-->
                                        <img src="/img/me.png" class="responsive-img img-thumbnail" alt="">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <h2 class="text-color">Hola</h2>
                                        <h1 class="head-text">Soy <b>Luis Navarro</b></h1>
                                        <strong>Desarrollador Full Stack</strong><br>
                                        <p class="text-justify">Soy Estudiantes de Ingenieria en Sistemas y Redes con 5 años en el campo de la informatica. Actualmente me estoy especializando en Servidores y Redes en la Universidad Gerardo Barrios. Me apasiona el desarrollo de nuevas herramientas para automatizar el trabajo. He desarrollado en python, Android, PHP, y soy Desarrollo Full Stack JavaScript. En mi tiempo libre sigo aprendiendo nuevas herramientas para desarrollar en los diferentes lenguajes.</p>
                                        <div class="center-align buttons">
                                            <a href="http://luisnavarro.info/CV-personal.pdf" class="btn btn-small bg-color-darken waves-effect">Descargar CV</a>
                                            <a href="mailto:luisnavarroalvarez91@gmail.com" class="bg-color-darken btn btn-small waves-effect">Contactame</a>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                  </div>
            </article>
            <!-- End About -->
            <!-- Work Skills -->
            <article>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-3">
                            <div class="work-skills" id="work-skills">
                                <h3><strong>Habilidades de trabajo</strong></h3>
                                <div class="card-panel">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div id="circle-html5"></div>
                                            <p class="left-align">HTML5 &amp; CSS3</p>                                            
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div id="circle-javascript"></div>
                                            <p class="left-align">JAVASCRIPT</p>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div id="circle-bootstrap"></div>
                                            <p class="left-align">BOOTSTRAP 3</p>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div id="circle-php"></div>
                                            <p class="left-align">PHP</p>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div id="circle-nodejs"></div>
                                            <p class="left-align">NODE JS</p>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div id="circle-python"></div>
                                            <p class="left-align">PYTHON</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Work Skills End-->
            <!-- Work Experience -->
            <article>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-3">
                            <div class="work-expreince" id="work-expreince">
                                <h3><strong>Experiencia laboral</strong></h3>

                                <div class="card-panel hoverable work-ex">
                                    <h4>Desarrollador en Smart Design SV</h4>
                                    <h5 class="text-color">2015-?</h5>
                                    <p>Creación, Administración y Mantenimiento de sitios web y Web Hosting para la empresa <a href="http://smartdesignsv.com">Smart Design SV</a> para las pequeñas y micros empresas del Área de Oriente, El Salvador.</p>
                                </div>

                                <div class="card-panel hoverable work-ex">
                                    <h4>Aplicación Movil Android - Radio Azul FM El Salvador</h4>
                                    <h5 class="text-color">2016</h5>
                                    <p>Aplicación diseñada para mostrar el contenido de la pagina principal, y reproducción de la emisora <a href="https://play.google.com/store/apps/details?id=ugb.appradioazulfm">radial Azul FM</a>, implementada en Android Studio.</p>
                                </div>

                               <!--
                                <div class="card-panel hoverable work-ex">
                                    <h4>Web Programming & Design</h4>
                                    <h5 class="text-color">12 jun 2017</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt leo ut mi accumsan tristique. Duis pulvinar rhoncus rutrum. Morbi mollis bibendum est, quis posuere ligula venenatis interdum. Fusce imperdiet non tortor vel aliquam. Nunc ornare, lorem et porttitor luctus, dui mauris sagittis libero.</p>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Work Experience End -->
            <!-- education -->
            <article>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-3">
                            <div class="education" id="education">
                                <h3><strong>Educación</strong></h3>
                                <div class="card-panel">
                                    <div class="btn bg-color">2011 - 2016</div>
                                    <h4><strong>Institución: </strong>Universidad Gerardo Barrios</h4>
                                    <p><strong>Titulo: </strong>Ingenieria en Sistemas y Redes Informaticas</p>
                                    <p><strong>Descripción: </strong>Titulo profesional en la rama de Desarrollo de Sistemas y Administración de Redes Informaticas con especialidad en Dispositivos Cisco.</p>

                                    <div class="btn bg-color">2016</div>
                                    <h4><strong>Institución: </strong>Academia de Cisco - Universidad Gerardo Barrios</h4>
                                    <p><strong>Titulo: </strong>Curso de CCNA Routing and Switching: Principios Basicos de Routing y Switching</p>
                                    <!-- <p><strong>Descripción: </strong></p> -->
                                    

                                    <div class="btn bg-color">2015</div>
                                    <h4><strong>Institución: </strong>Academia de Cisco - Universidad Gerardo Barrios</h4>
                                    <p><strong>Titulo: </strong>Curso de CCNA Routing and Switching: Escalamiento de redes</p>
                                    <!-- <p><strong>Descripción: </strong></p> -->

                                    <div class="btn bg-color">2015</div>
                                    <h4><strong>Institución: </strong>Academia de Cisco - Universidad Gerardo Barrios</h4>
                                    <p><strong>Titulo: </strong>Routing y Switching de CCNA: Conexión de redes</p>
                                    <!-- <p><strong>Descripción: </strong></p> -->
                                    
                                    <div class="btn bg-color">2016</div>
                                    <h4><strong>Institución: </strong>Academia de Cisco - Universidad Gerardo Barrios</h4>
                                    <p><strong>Titulo: </strong>Curso de CCNA Security</p>
                                    <!-- <p><strong>Descripción: </strong></p> -->

                                    <div class="btn bg-color">2015</div>
                                    <h4><strong>Institución: </strong>Universidad Gerardo Barrios</h4>
                                    <p><strong>Titulo: </strong>Diplomado de Desarrollo de aplicaciones web con Django</p>
                                    <!-- <p><strong>Descripción: </strong></p> -->

                                    <div class="btn bg-color">2017</div>
                                    <h4><strong>Institución: </strong>Universidad Gerardo Barrios</h4>
                                    <p><strong>Titulo: </strong>Pre Especialización en Servidores y Redes</p>
                                    <p><strong>Descripción: </strong>Creación, Administración y Resolución de problemas en entornos de Servidores (Windows, Gnu/Linux) y Redes Informaticas(Cisco)</p> 

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Portfolio -->
            <!-- <article>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-3">
                            <div class="portfolio" id="portfolio">
                                <h3>Portfolio</h3>

                            </div>
                        </div>
                    </div>
                </div>
            </article> -->
            <!-- Portfolio End -->
            <!-- Contact -->
            <article>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-3">
                            <div id="contact" class="contact">
                                <h3>Contacto</h3>
                                <div class="card-panel row">
                                <!--Google Map-->
                                <!-- <div class="col-md-6 padding-left-reset">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52020482.05023901!2d-112.9477148!3d37.2695715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sBirle%C5%9Fik+Devletler!5e0!3m2!1str!2str!4v1484570405794" allowfullscreen></iframe>
                                </div> -->
                                <div class="col-md-6">
                                    <!--Adress-->
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt leo ut mi accumsan tristique. Duis pulvinar rhoncus rutrum.</p> -->
                                    <div class="row">
                                        <!--<div class="col s2"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                                         <div class="col s10">
                                            <h5>Address</h5>
                                            <p>Greet Nore Sk. Holmes No: 9-5</p>
                                        </div>-->
                                        <div class="col s2"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                        <div class="col s10">
                                            <h5>Email</h5>
                                            <p class="col-md-6">luisnavarroalvarez91@gmail.com</p>
                                        </div>
                                        <div class="col s2"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                        <div class="col s10">
                                            <h5>Phone</h5>
                                            <p>(+503) 7294 1298</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <aside>
            
        </aside>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 white-text">
                        <!--Contact Form-->
                        <form id="sendMail">
                            <h5 class="center-align">Contacto</h5>
                            <div class="input-field col s6">
                                <input id="name" name="name" type="text" class="validate" required>
                                <label for="name">Nombre Completo</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="email1" name="email1" type="email" class="validate" required>
                                <label for="email1">Correo</label>
                            </div>
                            <div class="input-field col s12">
                                <textarea id="message1" name="message1" class="materialize-textarea" required></textarea>
                                <label for="message1">Mensaje</label>
                            </div>
                            <div class="center-align">
                                <input type="submit" id="btnEnviar" value="Enviar" class="btn bg-color waves-effect">
                            </div>
                        </form>
                        <div id="ok">
                            <h4>Mensaje Enviado, Muchas Gracias.</h4>
                        </div>
                        <div id="error">
                            <h4>Mensaje No Enviado, Disculpas las molestias.</h4>
                        </div>
                        <div id="loading">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                            <span class="sr-only">Cargando...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <!--Copryght Text-->
                    © 2017 lu1tr0n | <a href="http://luisnavarro.info">Luis Navarro</a>
                    <!--Social Media Links-->
                    <span class="right social-media">
                        <a href="https://www.facebook.com/lu1tr0n" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/lu1tr0n" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                        <!-- <a href="#" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Behance"><i class="fa fa-behance-square" aria-hidden="true"></i></a> -->
                        <a href="https://plus.google.com/u/5/106230469528983700668" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Google Plus"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                        <!-- <a href="#" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Snapchat"><i class="fa fa-snapchat-square" aria-hidden="true"></i></a> -->
                        <a href="skype:22b96d5efc6d922a?call" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="/js/jquery/dist/jquery.min.js"></script>
        <!-- <script type="text/javascript" src="/js/jquery-validation/dist/jquery.validate.min.js"></script> -->
        <script type="text/javascript" src="/js/raphael.min.js"></script>
        <!-- Librery for graph -->
        <script type="text/javascript" src="/js/circles.min.js"></script>
        <script type="text/javascript" src="/js/materialize.min.js"></script>
        <script type="text/javascript" src="/js/vendor/modernizr-2.8.3.min.js"></script>
        <script type="text/javascript" src="/js/plugins.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-101971144-1', 'auto');
            ga('send', 'pageview');

        </script>
    </body>
</html>
